AZ_ORG=
AZ_PROJECT=
AZ_WIKI=
AZ_PAT=
AZURE_OPENAI_EMBEDDING_KEY=
AZURE_OPENAI_EMBEDDING_ENDPOINT=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=
AZURE_OPENAI_EMBEDDING_VERSION=
SECRET_AZURE_SEARCH_KEY=
AZURE_SEARCH_ENDPOINT=
AI_SEARCH_DOC=my-documents